asyncio==3.4.3
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
decorator==4.4.2
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.4
mido==1.2.10
moviepy==1.0.3
numpy==1.20.3
opencv-python==4.5.2.52
Pillow==8.2.0
proglog==0.1.9
pycparser==2.20
pydub==0.25.1
requests==2.25.1
sounddevice==0.4.1
tqdm==4.61.0
urllib3==1.26.5
